pgdata/*
benchbase/*
__pycache__

knowledge_collection/postgres/knowledge_sources/gpt_copy/*
knowledge_collection/postgres/knowledge_sources/manual_copy/*
knowledge_collection/postgres/knowledge_sources/web_copy/*