pgdata/*
benchbase/*
__pycache__

knowledge_collection/postgres/knowledge_sources/gpt_copy/*
knowledge_collection/postgres/knowledge_sources/manual_copy/*
knowledge_collection/postgres/knowledge_sources/web_copy/*
optimization_results/*
optimization_results_2/*
optimization_results_no_knowledge/*
src/knowledge_handler/__pycache__/*
