__pycache__
src/config_recommender/__pycache__/*
src/dbms/__pycache__/*
src/knowledge_handler/__pycache__/*
src/space_optimizer/__pycache__/*
src/utils/__pycache__/*
src/knowledge_handler/__pycache__/*
temp_results
copy_db_dump
pgdata/
docker/mysql-8-data/

