version: '3.8'

services:
  db:
    image: postgres:13
    container_name: tpcc_workload
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: benchbase
    volumes:
      - ./pgdata:/var/lib/postgresql/data  # Persistent storage
    ports:
      - "5432:5432"  # Expose PostgreSQL port